{% extends "base.html" %}

{% block pageheading %}Login{% endblock %}

{% block main %}
    <div class="">
        <form class = "myform" method="post" enctype="multipart/form-data">
        <div class = "form-group">
            <div class = "form-element"> Title: </div>
            <div class = "form-element"> <input type = "text" name = "title" required> </div>
        </div>

        <div class = "form-group">
            <div class = "form-element"> Image: </div>
            <div class ="form-element">
                <textarea name="description" rows="5" cols="40" required></textarea>

            </div>

        </div>

        <div class = "form-group">
            <div class = "form-element"> Description: </div>
            <div class = "form-element"> <input type = "text" name = "description" required> </div>
        </div>

        <div class = "form-group">
            <div class = "form-label"> </div>
            <div class = "form-element"> <input type = "submit" value="Submit"> </div>
        </div>
    </form>

    </div>

    <br>
    <br>
    <br>
{% endblock %}

