{% extends "base.html" %}



{% block pageheading %}Welcome{% endblock %}

{% block main %}


    <form action="/search_post" method="POST">
    <input type="text" name="Search" placeholder="Search by username" required>
    <button type="submit">Search</button>
</form>








    {% if search_title %}
    <h2>{{ search_title }}</h2>
{% endif %}


    <div class="products">
        {% if posts %}
            {% for post in posts %}
                <div class="product-box">
                    <h2>{{ post[0] }}</h2>
                    <p>Posted by: {{ post[3] }}</p>
                    <img src="static/images/{{ post[1] }}" alt="{{ post[1] }}">
                    <p>{{ post[4]}}⭐ </p>

                    <div class="description-scroll">
                        <p class="description">{{ post[2] }}</p>
                    </div>

                    {% if session['user_id'] == post[3] %}
                    <form action="/delete_post" method="POST">
                        <input type="hidden" name="title" value="{{ post[0] }}">
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                {% endif %}

                </div>

            {% endfor %}
        {% else %}

            <p>No posts available.</p>
        {% endif %}
    </div>
{% endblock %}