{% extends "base.html" %}

{% block pageheading %}Welcome{% endblock %}

{% block main %}
    <div class="products">
        {% if posts %}
            {% for post in posts %}
                <div class="product-box">
                    <h2>{{ post[0] }}</h2>  <!-- title -->
                    <p>Posted by: {{ post[4] }}</p>  <!-- first_name -->
                    <a href="/single_post/{{ post[3] }}">  <!-- post_id -->
                        <img src="static/images/{{ post[1] }}" alt="{{ post[0] }}">  <!-- image -->
                    </a>
                    <p class="description">{{ post[2] }}</p>  <!-- description -->
                </div>
            {% endfor %}
        {% else %}
            <p>No posts available.</p>
        {% endif %}
    </div>
{% endblock %}